html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/* Symulacja contenera presty */
body {
    width: 100%;
    max-width: 1550px;
    margin-inline: auto;
    padding-inline: 15px;
    outline: 1px solid red;
}

.lo-cms-contact {
    width: min(1520px, 100%);
    margin-inline: auto;
    font: 400 16px/1 "Plus Jakarta Sans", sans-serif;
    color: #1E1E20;
    position: relative;
}

.lo-cms-header {
    width: 100%;
    display: grid;
}

.lo-cms-bg {
    background: #F4F4F4;
}

.lo-cms-content {
    width: calc(100% - 140px);
    margin-inline: auto;
}

.lo-cms-full-width {
    width: 100%;
}


.lo-cms-header__img {
    width: 100%;
}

.lo-cms-header__picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
}


.lo-cms-header__content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 2;
    display: grid;
    place-items: center;
}

.lo-cms-header__title {
    font: 500 40px/1 "Red Hat Display", sans-serif;
    color: #fff;
    margin: 0;
}

.lo-cms-txtBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding-block: 42px 50px;
}

.lo-cms-txtBlock--left{
    text-align: left;
}

.lo-cms-section__title {
    font: 600 32px/1 "Red Hat Display", sans-serif;
    margin: 0;
    text-align: center;
}

.lo-cms-section__subtitle {
    font: 400 16px/1 "Plus Jakarta Sans", sans-serif;
    margin: 0;
    text-align: center;
}

.lo-cms-buttonsWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-block-end: 50px;
    width: min(1000px, 100%);
    margin-inline: auto;
}

.lo-cms-button {
    appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    width: fit-content;
    border: 1px solid #000;
    border-radius: 23px;
    background: transparent;
    color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 1  ;
    margin: 0;
    padding: 8px 40px 10px;
    flex: 0 1 309px;
    transition: color 450ms ease-in-out, background 450ms ease-in-out;
}

.lo-cms-button:hover {
    background: #000;
    color: #fff;
}

.lo-cms-button--black {
    background: #000;
    color: #fff;
}

.lo-cms-button--black:hover {
    color: #000;
    background: #fff;
}

.lo-cms-timeInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-block-end: 40px;
    width: min(1100px, 100%);
    margin-inline: auto;
    gap: 30px;
}

.lo-cms-timeInfo__item {
    flex: 1 1 50%;
    text-align: center;
}

.lo-cms-timeInfo__info{
margin-block: 0 15px;
}

.lo-cms-timeInfo__houors {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}

.lo-cms-timeInfo__days {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

.lo-cms-formBlock{
    padding-block: 42px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.lo-cms-formBlock .lo-cms-section__title{
    margin-block-end: 22px;
}

.lo-cms-formContent{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.lo-cms-formDesc__wrapper{
    flex: 0 1 60%;
}

.lo-cms-formDesc{
    line-height: 1.5;
    margin: 0;
}


.lo-cms-addInfo__wrapper{
    flex: 0 1 37%;
}

.lo-cms-addInfo{
    color: #717171;
    line-height: 1.5;
    margin: 0;
}


